{% extends 'base.html' %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/blog.css"><!-- blog stylesheet -->
{% endblock %}

{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
  <div class="row">
    <div class="twelve columns noleftmargin">
      <!-- MAIN CONTENT -->
      <div class="eight columns">
        <div class="sectiontitle">
          <h4>{{ article.title }}</h4>
        </div>
        <p>
        <i>Pubblicato il <b>{{ article.date.strftime("%Y-%m-%d") }}</b> in <a href="{{ article.category.url }}">{{ article.category }}</a></i>
        </p>




        <p>
          <img src="images/temp/post.jpg" class="blogimage grayscale" alt="">
        </p>
        <p>
          Mrs. Delorane had died of decline: people would say to one another, in confidence, they hoped Ellin might escape it. The largest and <b>best farm</b> in the neighbourhood of Timberdale, larger than even that of the Ashtons, was called the Dower Farm.
        </p>
        <p>
          Out-of-doors he was the keen, active, thorough farmer; indoors he lived as a gentleman. He had four children: three boys and one girl. Nothing must prevent her journey upon the desert!
        </p>
        <p>
          From her window she looked out toward it, so wonderful, so superb, so exquisite, weird and beautiful. Exactly, she told herself, like a big, black smudge.
        </p>
        <p>
          But she cuddled in bed with one knee up to her neck in cute boyish fashion, laughing softly at the remembrance of another time when she had popped a cigarette stump into the eye of a London bobby from the top of a bus.
        </p>
        <p>
          And such a merry fight as she had put up when he had yanked her down! She was wearing her usual boy's clothes and when she had given her real name at the station, the policeman wouldn't believe it of her and the matron had resigned rather than carry the investigation further.
        </p><br/>
        <div class="panel">
          <div class="avatar">
            <img src="{{ article.author_gravatar }}" alt="{{ author_gravatar }}">
          </div>
          <h5 class="left">AUTORE: {{ article.author }} </h5>
          <div class="right">
            <div class="social facebook">
              <a href="#"></a>
            </div>
            <div class="social twitter">
              <a href="#"></a>
            </div>
            <div class="social deviantart">
              <a href="#"></a>
            </div>
            <div class="social flickr">
              <a href="#"></a>
            </div>
            <div class="social dribbble">
              <a href="#"></a>
            </div>
          </div>
          <p class="clear authortext">
            Jane is a professional photographer working for SLC. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum. <a href="#">Browse more articles</a> by this author.<br/>
          </p>
        </div>
        <h5>1 Comment</h5>
        <hr>
        <div class="gravatar">
          <img src="images/gravatar.png" alt="">
        </div>
        <h5>Sam
			<span class="commentdate">
				- October 26, 2013 at 9:39 am
			</span>
        </h5>

        <p>
          But she cuddled in bed with one knee up to her neck in cute boyish fashion, laughing softly at the remembrance of another time when she had popped a cigarette stump into the eye of a London bobby from the top of a bus.  Temporibus autem quibusdam.
        </p>
        <br class="clear">
        <h5>SPEAK YOUR MIND</h5>
        <input type="text" class="five smoothborder" placeholder="Your name *"/>
        <input type="text" class="five smoothborder" placeholder="E-mail address *"/>
        <input type="text" class="five smoothborder" placeholder="Website"/>
        <textarea class="six smoothborder" rows="7" placeholder="Comments *"></textarea>
        <button type="submit" class="readmore">Publish</button>
      </div>

      <!-- SIDEBAR -->
      <div class="four columns">
        <h6 class="sidebartitle">RECENT COMMENTS</h6>
        <div class="avatar">
          <img src="images/temp/author1.png" alt="">
        </div>
        <p>
          Many pieces were proposed, but none seemed suitable, because each one wished to play a good ...
        </p>
        <div class="avatar">
          <img src="images/temp/author2.png" alt="">
        </div>
        <p>
          Many pieces were proposed, but none seemed suitable, because each one wished to play a good ...
        </p>
        <div class="avatar">
          <img src="images/temp/author3.png" alt="">
        </div>
        <p>
          Many pieces were proposed, but none seemed suitable, because each one wished to play a good ...
        </p>
        <br class="clear"/>
        {% if categories %}
          <h6 class="sidebartitle">CATEGORIE</h6>
          {% for category, articles in categories %}
            <a href="{{ SITEURL }}/{{ category.url }}" class="tags">{{ category }}</a>
          {% endfor %}
          <br class="clear"/>
        {% endif %}

        {% if tag_cloud %}
          <h6 class="sidebartitle">TAGS</h6>
          {% for tag in tag_cloud %}
            <a href="{{ SITEURL }}/{{ tag.0.url }}" class="tags">{{ tag.0 }}</a>
          {% endfor %}
          <br class="clear"/>
        {% endif %}
        <br/><br/>
        <h6 class="sidebartitle">RELATED POSTS</h6>
        <p>
          7 Oct 2013
        </p>
        <p>
          Many pieces were proposed, but none seemed suitable, because each one wished to play a good and suitable part ...
        </p>
        <p>
          6 Sept 2013
        </p>
        <p>
          It was ready for production, when through accident we were disappointed about securing the private theatre on ...
        </p>
        <p>
          4 Aug 2013
        </p>
        <p>
          The over-kind praise which it won encouraged me to have the play printed. I decided, as I could see no other prospects...
        </p>
      </div>
    </div>
  </div>
  <div class="hr"></div>
{% endblock %}
