<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-{{ SITEURL }}/theme/css-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{ DEFAULT_LANG }}"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="{{ DEFAULT_LANG }}"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="{{ DEFAULT_LANG }}"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="{{ DEFAULT_LANG }}">
  <!--<![endif]-->
  <head>
    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta charset="utf-8"/>
    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width"/>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/skins/blue.css"><!-- skin color -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/responsive.css">
    {% endblock %}

    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% endblock %}
  </head>
  <body>
    {# HEADER #}
    <div class="row">
      <div class="four columns">
        <div class="logo">
          <a href="{{ SITEURL }}/">
            <h4>{{ SITENAME }}</h4>
          </a>
        </div>
      </div>
      <div class="eight columns noleftmarg">
        <nav id="nav-wrap">
        <ul class="nav-bar sf-menu">
          {% for title, link in MENUITEMS %}
            <li class="active"><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}
          {% if DISPLAY_PAGES_ON_MENU %}
            {% for p in PAGES %}
              <li{% if p == page %} class="current"{% endif %}>
                <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
              </li>
            {% endfor %}
          {% else %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
              {% for cat, null in categories %}
                <li{% if cat == category %} class="current"{% endif %}>
                  <a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
                </li>
              {% endfor %}
            {% endif %}
          {% endif %}
        </ul>
        </nav>
      </div>
    </div>
    <div class="clear"></div>

    {# ######### #}
    {# SUBHEADER #}
    {# ######### #}
    <div id="subheader">
      <div class="row">
        {% block subheader %}
          <div class="twelve columns">
            <p class="left">{% block breadcrumbs %}{% endblock %}</p>
            <p class="right">{% block subheader_right %}{% endblock %}</p>
          </div>
        {% endblock %}
      </div>
    </div>
    <div class="hr"></div>

    {# ####### #}
    {# CONTENT #}
    {# ####### #}
    {% block content %}{% endblock %}
    <div class="hr"></div>

    <!-- TWITTER
    ================================================== -->
    <div class="tweetarea">
      <div class="tweettext">
        <div class="row">
          <div class="twelve columns">
            <div class="tweet">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FOOOTER 
    ================================================== -->
    <div id="footer">
      <footer class="row">
      <p class="back-top floatright">
      <a href="#top"><span></span></a>
      </p>
      <div class="four columns">
        <h1>ABOUT US</h1>
        Our goal is to keep clients satisfied!
      </div>
      <div class="four columns">
        <h1>SOCIAL</h1>
        {% for title, url in SOCIAL %}
          <a href="{{ url }}" target="_blank">
            <div class="social {{ title }}">
            </div>
          </a>
        {% endfor %}
      </div>
      <div class="four columns">
        <h1 class="newsmargin">NEWSLETTER</h1>
        <div class="row collapse newsletter floatright">
          <div class="ten mobile-three columns">
            <input type="text" class="nomargin" placeholder="Enter your e-mail address...">
          </div>
          <div class="two mobile-one columns">
            <a href="#" class="postfix button expand">GO</a>
          </div>
        </div>
      </div>
      </footer>
    </div>
    <div class="copyright">
      <div class="row">
        <div class="six columns">
          &copy;<span class="small"> Copyright 2015 Piergiorgio Faraglia</span>
        </div>
        <div class="six columns">
          <span class="small floatright">&nbsp;</span>
        </div>
      </div>
    </div>

    {% block javascripts %}
    <script src="{{ SITEURL }}/theme/js/foundation.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/formvalidation.js"></script>
    <script src="{{ SITEURL }}/theme/js/jquery.cycle.js"></script>
    <script src="{{ SITEURL }}/theme/js/app.js"></script>
    <script src="{{ SITEURL }}/theme/js/modernizr.foundation.js"></script>
    <script src="{{ SITEURL }}/theme/js/slidepanel.js"></script>
    <script src="{{ SITEURL }}/theme/js/scrolltotop.js"></script>
    <script src="{{ SITEURL }}/theme/js/hoverIntent.js"></script>
    <script src="{{ SITEURL }}/theme/js/superfish.js"></script>
    <script src="{{ SITEURL }}/theme/js/responsivemenu.js"></script>
    <script src="{{ SITEURL }}/theme/js/jquery.tweet.js"></script>
      {#
    <script src="{{ SITEURL }}/theme/js/twitterusername.js"></script>
       #}
    {% endblock %}

  </body>
</html>
