{% extends "page.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/prettyphoto.css"><!-- for gallery -->
{% endblock %}

{% block breadcrumbs %}
  {{ page.title|upper }}
{% endblock %}

{% block content %}
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(page) }}
  {{ page.content }}
{% endblock %}

{% block javascripts %}
  {{ super() }}
  <script src="{{ SITEURL }}/theme/js/jquery.isotope.min.js"></script>
  <script src="{{ SITEURL }}/theme/js/jquery.prettyPhoto.js"></script>
  <script src="{{ SITEURL }}/theme/js/custom.js"></script>
{% endblock %}