{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/homepage.css">
{% endblock %}

{% block subheader %}
<div class="noslide">
  <h1>Ingegnere Informatico</h1>
  <h3>Progettazione e sviluppo di siti web statici, dinamici, e-commerce, e software gestionali.</h3>
  <div class="minipause"></div><br/>
  <a href="{{ filename }}/pages/contatti.html" class="clear actbutton">CONTATTAMI</a>
</div>
{% endblock %}

{% block content %}
<!-- ANIMATED COLUMNS
================================================== -->
<div class="row">
	<div class="twelve columns">
		<ul class="ca-menu">
      <li>
        <a href="#">
          <span class="ca-icon">K</span>
          <div class="ca-content">
            <h2 class="ca-main">Siti Web <br> Statici</h2>
            <h3 class="ca-sub">Vetrina del tuo business</h3>
          </div>
        </a>
      </li>
			<li>
			<a href="#">
			<span class="ca-icon">F</span>
			<div class="ca-content">
				<h2 class="ca-main">Siti Web <br> Dinamici</h2>
				<h3 class="ca-sub">Assecondano le tue esigenze</h3>
			</div>
			</a>
			</li>
			<li>
			<a href="#">
			<span class="ca-icon">H</span>
			<div class="ca-content">
				<h2 class="ca-main"><br>E-commerce</h2>
				<h3 class="ca-sub">Apri il tuo negozio online</h3>
			</div>
			</a>
			</li>
			<li>
			<a href="#">
			<span class="ca-icon">N</span>
			<div class="ca-content">
				<h2 class="ca-main">Software <br> Gestionali</h2>
				<h3 class="ca-sub">Per condomini, negozi, privati</h3>
			</div>
			</a>
			</li>
		</ul>
	</div>
</div>

<!-- CONTENT 
================================================== -->
<div class="row">
	<div class="twelve columns">
		<div class="centersectiontitle">
			<h4>Cosa faccio</h4>
		</div>
	</div>
	<div class="four columns">
		<h5>Progettazione</h5>
		<p>
      Studio delle caratteristiche che dovranno essere realizzate e prototipazione delle soluzione.
		</p>
		<p>
			<a href="#" class="readmore">Maggiori informazioni</a>
		</p>
	</div>
	<div class="four columns">
		<h5>Sviluppo</h5>
		<p>
      Implementazione della soluzione concordata in fase di progettazione utilizzando le tecnologie più adatte al software da realizzare.
		</p>
		<p>
			<a href="#" class="readmore">Maggiorni informazioni</a>
		</p>
	</div>
	<div class="four columns">
		<h5>Rilascio</h5>
		<p>
      Configurazione del server di produzione, dei server di posta dove risiederà il codice sviluppato.
		</p>
		<p>
			<a href="#" class="readmore">Maggiori informazioni</a>
		</p>
	</div>
</div>
<div class="hr">
</div>
<!-- CLIENTS 
================================================== -->
<div class="row">
	<div class="twelve columns">
		<div class="centersectiontitle">
			<h4>Progetti recenti</h4>
		</div>
	</div>
	<div class="twelve columns">
		<div class="image_carousel fitcarousel">
		<div id="foo2">
				<img src="{{ SITEURL }}/images/portfolio/ludovico-pratesi.png" alt="" width="140" height="140"/>
        <img src="{{ SITEURL }}/images/portfolio/pascucci-autogru.png" alt="" width="140" height="140"/>
      <img src="{{ SITEURL }}/images/portfolio/sfizi-di-luce.png" alt="" width="140" height="140"/>
      <img src="{{ SITEURL }}/images/portfolio/misterfantacalcio.png" alt="" width="140" height="140"/>
      <img src="{{ SITEURL }}/images/portfolio/sceridan.png" alt="" width="140" height="140"/>
      <img src="{{ SITEURL }}/images/portfolio/wool4wear.png" alt="" width="140" height="140"/>
			</div>
			<div class="clearfix">
			</div>
			<a class="prev" id="foo2_prev" href="#"><span>prev</span></a>
			<a class="next" id="foo2_next" href="#"><span>next</span></a>
		</div>
	</div>
</div>
<!-- TESTIMONIALS 
================================================== -->
<div class="row">
	<div class="twelve columns">
		<div id="testimonials">
			<blockquote>
				<p>
					 "Piergiorgio è un professionista molto serio e ti rende partecipe del progetto dalle sue fasi iniziali." <cite>&ndash;Massimo Menconi - Sfizi di luce - Roma</cite>
				</p>
			</blockquote>
			<blockquote>
				<p>
					 "" <cite>&ndash;Piero Pascucci - Pascucci Autogru - Roma</cite>
				</p>
			</blockquote>
		</div>
		<!--end testimonials-->
	</div>
</div>
{% endblock %}

{% block javascripts %}
  {{ super() }}
  <script src="{{ SITEURL }}/theme/js/jquery.carouFredSel-6.0.5-packed.js"></script>
{% endblock %}