{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/homepage.css">
{% endblock %}

{% block subheader %}
<div class="noslide">
  <h1>Our Photography Studio</h1>
  <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</h3>
  <div class="minipause"></div><br/>
  <a href="#" class="clear actbutton">Action Button</a>
</div>
{% endblock %}

{% block content %}
<!-- ANIMATED COLUMNS
================================================== -->
<div class="row">
	<div class="twelve columns">
		<ul class="ca-menu">
			<li>
			<a href="#">
			<span class="ca-icon">F</span>
			<div class="ca-content">
				<h2 class="ca-main">Responsive<br/> Design</h2>
				<h3 class="ca-sub">Across all major devices</h3>
			</div>
			</a>
			</li>
			<li>
			<a href="#">
			<span class="ca-icon">H</span>
			<div class="ca-content">
				<h2 class="ca-main">Friendly<br/> Documentation</h2>
				<h3 class="ca-sub">Straight to the point</h3>
			</div>
			</a>
			</li>
			<li>
			<a href="#">
			<span class="ca-icon">N</span>
			<div class="ca-content">
				<h2 class="ca-main">Alternate<br/> Home Pages</h2>
				<h3 class="ca-sub">Full slider, boxed or none</h3>
			</div>
			</a>
			</li>
			<li>
			<a href="#">
			<span class="ca-icon">K</span>
			<div class="ca-content">
				<h2 class="ca-main">Filterable<br/> Portofolio</h2>
				<h3 class="ca-sub">Isotop & PrettyPhoto</h3>
			</div>
			</a>
			</li>
		</ul>
	</div>
</div>

<!-- CONTENT 
================================================== -->
<div class="row">
	<div class="twelve columns">
		<div class="centersectiontitle">
			<h4>What we do</h4>
		</div>
	</div>
	<div class="four columns">
		<h5>Photography</h5>
		<p>
			 Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
		</p>
		<p>
			<a href="#" class="readmore">Learn more</a>
		</p>
	</div>
	<div class="four columns">
		<h5>Artwork</h5>
		<p>
			Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
		</p>
		<p>
			<a href="#" class="readmore">Learn more</a>
		</p>
	</div>
	<div class="four columns">
		<h5>Logos</h5>
		<p>
			 Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.
		</p>
		<p>
			<a href="#" class="readmore">Learn more</a>
		</p>
	</div>
</div>
<div class="hr">
</div>
<!-- CLIENTS 
================================================== -->
<div class="row">
	<div class="twelve columns">
		<div class="centersectiontitle">
			<h4>Clients</h4>
		</div>
	</div>
	<div class="twelve columns">
		<div class="image_carousel fitcarousel">
		<div id="foo2">
				<img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
				<img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
				<img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
				<img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
				<img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
				<img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
				<img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
				<img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
				<img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
				<img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
				<img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
				<img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
			</div>
			<div class="clearfix">
			</div>
			<a class="prev" id="foo2_prev" href="#"><span>prev</span></a>
			<a class="next" id="foo2_next" href="#"><span>next</span></a>
		</div>
	</div>
</div>
<!-- TESTIMONIALS 
================================================== -->
<div class="row">
	<div class="twelve columns">
		<div id="testimonials">
			<blockquote>
				<p>
					 "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. " <cite>&ndash;Martin - NY</cite>
				</p>
			</blockquote>
			<blockquote>
				<p>
					 "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." <cite>&ndash;Sandra - LA</cite>
				</p>
			</blockquote>
			<blockquote>
				<p>
					 "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." <cite>&ndash;Jason - MA</cite>
				</p>
			</blockquote>
		</div>
		<!--end testimonials-->
	</div>
</div>
{% endblock %}

{% block javascripts %}
  {{ super() }}
  <script src="{{ SITEURL }}/theme/js/jquery.carouFredSel-6.0.5-packed.js"></script>
{% endblock %}