{% extends 'base.html' %}

{% block stylesheets %}
  {{ super() }}
  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/blog.css"><!-- blog stylesheet -->
{% endblock %}

{% block subheader %}
  <div class="eight columns">
    <p class="bread leftalign">
      Sei qui: <a href="{{ SITEURL }}"> Home</a> / <a href="{{ SITEURL }}/blog_index.html">Blog</a>
    </p>
  </div>
  <div class="four columns">
    <div class="row collapse">
      <div class="ten mobile-three columns">
        <input type="text" class="nomargin" placeholder="Search...">
      </div>
      <div class="two mobile-one columns">
        <a href="#" class="postfix button expand">Go</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="twelve columns noleftmargin">

      <!-- MAIN CONTENT -->
      <div class="eight columns noleftmargin">
        {% for article in articles_page.object_list %}
          <div class="circledate">
            <div class="textcircle">{{ article.locale_date }}</div>
          </div>
          <h4>{{ article.title }} {# <span class="comments">3 comments</span> #}</h4>
          <div class="dots blogdots"></div>
          {{ article.summary }}
          <div class="hr"></div>
        {% endfor %}
        <br/>
        {% include 'pagination.html' %}
      </div>

      <!-- SIDEBAR -->
      <div class="four columns">

        {% if categories %}
          <h6 class="sidebartitle">CATEGORIE</h6>
          {% for category, articles in categories %}
            <a href="{{ SITEURL }}/{{ category.url }}" class="tags">{{ category }}</a>
          {% endfor %}
          <br class="clear"/>
        {% endif %}

        {% if tag_cloud %}
          <h6 class="sidebartitle">TAGS</h6>
          {% for tag in tag_cloud %}
            <a href="{{ SITEURL }}/{{ tag.0.url }}" class="tags">{{ tag.0 }}</a>
          {% endfor %}
          <br class="clear"/>
        {% endif %}

      </div>
    </div>
  </div>
{% endblock %}