{% extends "_base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block breadcrumbs %}
  {{ page.title|upper }}
{% endblock %}

{% block content %}
  {{ page.content }}
{% endblock %}

{% block sidebar %}
  <h5>{{ _('sidebar-contact-form-title')|capitalize }}</h5>
  <p>{{ _('sidebar-contact-form-body')|capitalize }}</p>
  <div class="done">
    <div class="alert-box success">
      {{ _('sidebar-contact-form-success-message')|capitalize }} <a class="close" href="">x</a>
    </div>
  </div>
  <div class="form">
    <form id="contactform" action="{{ APIURL }}/sendmail" method="post">
      <input type="text" placeholder="{{ _('field-name-placeholder')|capitalize }} *" class="smoothborder" name="name">
      <input type="text" placeholder="{{ _('field-email-placeholder')|capitalize }} *" class="smoothborder" name="email">
      <textarea placeholder="{{ _('field-project-placeholder')|capitalize }} *"
        rows="6" class="smoothborder" name="message"></textarea>
      <input type="submit" value="{{ _('submit-send')|capitalize }}" class="readmore" id="submit">
    </form>
  </div>
  <br>
{% endblock %}
